body{
    background-color:  black;
    font-family: 'Montserrat';
    font-style: normal;
}

/* header styles */
header{
    position: relative;
}
.header-container{
    position: fixed;
    width: 95vw;
    top: 0;
    display: flex;
    background-color: #FCAF02;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.header-left > a{
    color: #1E1E1E;
    font-weight: 700;
    font-size: 39px;
    text-decoration: none;
}
#up{
    text-decoration: underline;
}
.header-right{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.header-right > a{
    text-decoration: none;
    color: black;
}
.header-right > a:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}

/* Intro styles */

.intro-container{
    display: flex;
    padding: 50px;
    align-items: center;
}
.intro-left h2{
    color: white;
    font-weight: 700;
    font-size: 64px;
}
.intro-left p{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 28px;
}
.intro-left button{
    width: 323px;
    height: 66px;
    background-color: rgba(252, 175, 2, 1);
    border-radius: 500px;
    font-weight: 700;
    font-size: 32px;
}
.intro-right img{
    width: 697px;
    height: 482px;
}

/* Form section */
.form-container{
    padding: 0 40px;
}
.form-container > h2{
    width: 369px;
    height: 78px;
    font-weight: 700;
    font-size: 64px;  
    color:rgba(252, 175, 2, 1);
}
form > input{
    width: 90%;
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #FCAF02;
    padding: 5px 40px;
    margin: 20px;
    background-color: black;
    border: 2px solid #FCAF02;
    border-radius: 100px;
}
::placeholder{
    color: #FCAF02;
}
#city{
    width: 40%;
}
#mobile{
    width:40%;
}
.form-container > div > button{
    width: 300px;
    height: 72px;
    background: #FCAF02;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    font-weight: 700;
    font-size: 32px;
    margin: 40px;
}
.form-container > div{
    text-align: center;
}

/* Table section */
.table-container{
    padding: 30px;
    margin-bottom: 100px;
}
table{
    border: 2px solid #FCAF02;
    border-collapse: collapse;
    width: 100%;
    height: 400px;
}
th{
    border: 2px solid #FCAF02;
    color:  #FCAF02;
    height:60px;
}
tr{
    border: none;
}
td{
    border-right: 2px solid #FCAF02;
    color:  #FCAF02;
    text-align: center;
}
tfoot > tr > td{
    height: 60px;
    border-right: 2px solid black;
    background-color: #FCAF02;
    color: black;
}
